.btn {
    background-color: #F8ED32;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 11px 1rem;
    /* margin: 0 0.5rem ; */
    width: 7.5rem;
  }