.custom-video-player {
    position: relative;
    width: 60%;

    /* padding-top: 56.25%; */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  .custom-control{
    display: flex;
    /* flex-direction: column; */
    /* gap: 20px; */
   
  }
  .timeline{
    position: absolute;
    bottom: 210px;
    left: 4%;
    /* transform: translateY(-100px); */
    /* left:4%; */
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    box-sizing: border-box;
  }
  .timeline .time-indicator{
    color: white;
    font-size: 14px;
  }
  .other-controls {
   position: absolute;
   display: flex;
   flex-direction: row;
    bottom: -30px;
    left: 4%;
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    box-sizing: border-box;
  }
  
  .other-controls button,
  .other-controls div {
    background-color:rgba(0, 0, 0, 0);
    color: white;
    border: none;
    /* padding: 5px; */
    cursor: pointer;
    border-radius: 5px;
    outline: none;
  }
  
  
  .timeline-container {
    display: flex;
    align-items: center;
  }
  .other-controls .volume-button {
    position: relative;
  }
  
  .other-controls .volume-button .volume-slider {
    position: absolute;
    top: 100%;
    left: 50%;
    /* background-color: white; */
    padding-top: 5px;
    border-radius: none;
    transform: translateX(8%) translateY(-105%) rotate(0);
    display: none;
    transition: smooth 20ms;
  }
  
  .other-controls .volume-button:hover .volume-slider {
    display: block;
  }
  .other-controls .settings-dropdown {
    position: relative;
  }
  
  .other-controls .settings-dropdown .dropdown-menu {
    position: absolute;
    top: -300%;
    /* left: -100%; */
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    /* background-color:green; */
    border: none !important; 
    padding: 5px;
    z-index: -1;
  }
  
  .other-controls .settings-dropdown .dropdown-menu button {
    /* background-color: transparent; */
    border: none;
    cursor: pointer;
    padding: 8px;
    min-width: 100%;
    text-align: left;
    color: black !important;
  }
  
  .otehr-controls .dropdown-menu button:hover {
    background-color: #000000;
  }
  
  .other-controls .dropdown-menu .select-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .left-controls {
    display: flex;
    gap: 5px;
  }
  
  .right-controls {
    display: flex;
    gap: 5px;
  }
  .View-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: -50px; */
    /* width: 90%; */
    justify-content: space-between;
  }
  .View-controls .view-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

 .mainVid{
    display: flex;
    flex-direction: column;
    height: fit-content;
 }
 .mainVid hr{
    height: 4px;
    background-color: green;
    margin-bottom: 1rem;
 }
 .top-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
 }
 .top-section h1{
    font-size: 50px;
    width: 50%;
 }
 .mid-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
 }
