.Responses h2 {
    margin-top: 100px;
    color: #333;
  }
  
  
.Responses  table {
    margin-bottom: 10px;
    padding: 10px;
    filter: drop-shadow(1px 4px 4px #00000087);
    background-color: #ffffff;
    border-radius: 10px;
  }
  .btn{
    margin-top: 10px;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 20px;
    color: black;
    background-color: #ffffff;
 
    font-size: 16px;
  }
  .btn:hover{
    cursor: pointer;
    color: white;
    background-color: green;
  }