
  nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background-color: transparent;
	transition: background-color 0.3s ease-in-out;
	z-index: 9999;
  }
  .MaincontainerHome{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 95%;
	margin: 0 auto;
	padding: 0 20px;
  }
  .containerHome {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 10px 20px;
  }
  
  
  .navbar-menuHome {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  .navbar-menuHome li a{
	  margin-left: 20px;
	  color: black;
	  text-decoration: none;
	  cursor: pointer;
	  font-size: 18px;
}
  .navbar-scrollHome {
	background-color: white;
  }

.mobNavHome{
	display: none;
}
  @media (max-width: 1000px) {
	.navbar-menuHome{
		display: none;
	}
	.mobNavHome{
		width: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		/* flex-direction: column; */
	}
	.mobLogo1{
		width: 28px;
		height: 28px;
		box-sizing:content-box;
		cursor: pointer;
		margin-bottom: 20px;
	}
	.mobNavHome .hidden1{
		display: none;
	}
	.mobNavHome .flex1{
		display: flex;
		/* flex-direction: column; */
		position: absolute;
		top: 4rem;
		width: 150px;
        justify-content: center;
        align-items: center;
		background-color: aliceblue;
		right: 0;
		margin: 20px 40px;
		border-radius: 20px;
		z-index: 10;
	}
	.mobNavHome .flex1 ul{
		list-style: none;
	}
	.mobNavHome .flex1 ul li{
		text-decoration: none;
		padding: 10px 0px;
	}
	.mobNavHome .flex1 ul li a{
		text-decoration: none;
		color: black;
	}
  }
  