.registerContainer{
    width: 80%;
    margin: 10rem auto;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.regIllustration{
    width: 50%;
}
.regIllustration img{
    width: 100%;
    height: 100%;
}
.registerForm{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainForm{
    width: 80%;
}

@media only screen and (max-width:900px) {
    .registerContainer{
        flex-direction: column;
    }
    .regIllustration{
        width: 80%;
    }
    .registerForm{
        margin-top: 3rem;
        width: 90%;
    }
    .mainForm{
        width: 100%;
    }
    /* login */
    .loginContainer{
        flex-direction: column;
    }
    .logIllustration{
        width: 80%;
    }
    .loginForm{
        margin-top: 3rem;
        width: 90%;
    }
}


/* LOGIN */
.loginContainer{
    width: 80%;
    margin:7rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.logIllustration{
    width: 50%;
}
.logIllustration img{
    width: 100%;
    height: 100%;
}
.loginForm{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}