.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.label3{
    width: 100%;
    padding-inline:3%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
}
.formCampus{
    display: flex;
    flex-direction: column;
    background-color: white;
    filter: drop-shadow(5px 5px 10px #00000052);
    border-radius: 20px;
    margin: 10px;
    padding-block: 40px;
}
.btnForm{
    margin-inline: 10px;;
    /* margin-block: 40px; */

}