.navbarHome {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	color: black;
	z-index: 999;
}
.navbarHome.active{
	background-color: white;
}
  .MaincontainerHome{
	display: flex;
	align-items: center;
  justify-content: center;
  gap: 10px;
	width: 100%;
	margin: 0 auto;
	padding: 0 50px;
  }
  .containerHome {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-inline: 100px auto;
	margin-block: none ;
	padding: 10px 0;
  }
  
  
  .navbar-menuHome {
	list-style-type: none;
	/* margin-left: 6rem; */
	width: fit-content;
	padding-block: 6px;
	padding-inline: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background: #fffffffa;
	border-radius: 10px;
	border: 1px solid #046A3A;
	filter: drop-shadow(-2px 6px 6px   #0094007d  );
  }
  .navbar-menuHome2 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .navbar3{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	margin-inline:12px; 
  }
  
  /* .navbar-menuHome li a{
	  margin-left: 20px;
	  color: black;
	  text-decoration: none;
	  cursor: pointer;
	  font-size: 16px;
} */
.nav-link {
	text-decoration: none;
	color: #046A3A;
	cursor: pointer;
	font-size: 16px;
	margin-left: 20px;
	padding-inline: 10px;
	padding-block: 4px;
	font-weight: lighter;
  }
.dropdown{
	padding-block: 4px;
}
  .nav-link.active {
	/* text-decoration: underline; */
	color: white;
	/* background: rgb(46,132,70); */
	background: linear-gradient(90deg, rgba(46,132,70,1) 0%, rgba(0,100,0,1) 100%);
	border-radius: 6px;
	font-size: 16px;
	font-weight: lighter;

  }
  .navbar-scrollHome {
	background-color: white;
  }

.mobNavHome{
	display: none;
}
.navbar-brand img {
	margin-right: 100px;
  }
@media (max-width: 1385px) {
	
.nav-link1{
	padding-left: none;
}
.MaincontainerHome{
	padding: 0px;
}
}

  @media (max-width: 1310px) {
	.MaincontainerHome{
		padding:0 10px ;
	}
	.navbar-menuHome{
		display: none;
		
	}
	.navbar-brand img {
	margin-right: 800px;
  }
	.navbar-menuHome2{
		display: none;
	}
	.containerHome{
		padding: 0px;
	}
	.mobNavHome{
		width: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.mobLogo1{
		width: 28px;
		height: 28px;
		box-sizing:content-box;
		cursor: pointer;
		margin-bottom: 20px;
	}
	.mobNavHome .hidden1{
		display: none;
	}
	.mobNavHome .flex1{
		display: flex;
		position: absolute;
		top: 4rem;
		width: 150px;
        justify-content: center;
        align-items: center;
		background-color: aliceblue;
		right: 0;
		margin: 20px 40px;
		border-radius: 20px;
		z-index: 10;
	}
	.mobNavHome .flex1 ul{
		list-style: none;
	}
	.mobNavHome .flex1 ul li{
		text-decoration: none;
		padding: 10px 0px;
	}
	.mobNavHome .flex1 ul li a{
		text-decoration: none;
		color: black;
	}
  }
  @media (max-width: 750px) {
	.navbar-brand img {
		height: 60px;
		margin-right: 200px;
  }
  .containerHome{
	margin-inline: 20px;
  }
}



  .dropdown{
	overflow: hidden;
	float: left;
  }
  
 
  .dropdown-content a:hover{
	background: rgb(46,132,70);
background: linear-gradient(90deg, rgba(46,132,70,1) 0%, rgba(0,100,0,1) 100%);
	color: white;
  }
  
  .dropdown-content{
	min-width: 110px;
	position: absolute;
	top:40px;
	display: none;
	z-index: 1;
	box-shadow: 8px 8px 5px 0 rgba(0,0,0,0.2);
	background-color: #fff;
  }
  
  .dropbtn a{
	text-decoration: none;
	color: black;
  }
  .dropdown-content a{
	color: #000;
	display: block;
	float: none;
	text-align: left;
	padding: 12px 17px;
	text-decoration: none;
	font-size: 0.8rem;
  }
  .dropdown:hover .dropdown-content{
	display: block;
  }
  .lng_dropdown{
	background: transparent;
	border-radius: 4px;
	
  }
  .lng_option:hover{
	background: #046A3A;
	cursor: pointer;
  }
 .right_margin{
	margin-right: 100px;
}