
.videoContainer{
    width: 98vw;
    margin-top: 7rem;
}
.video{
    width: 60%;
    height: auto;
    margin: 0 auto;
}
.video iframe{
    width: 100%;
}
.aboutServices{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-start;
   
    /* flex-wrap: wrap; */
}
.CardCarousel{
    margin-top: 100px;
}
.aboutServices1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

.aboutServices Div{
    width: 300px;
}
.aboutServices1 Div{
    width: 500px;
}
.aboutServices1 h1{
    font-size: 37px;
    font-weight: 900;
    color: #2e8446;
}
.aboutServices1 p{
    line-height: 1.5;
    color: grey;
    margin-top: 20px;
}
.aboutKeyPoints{
    width: 80%;
}
.text_list{
display: flex;
flex-direction: column;
align-items: flex-start;
text-align: start;
}
.homeAboutButton button {
    margin-top: 30px;
    padding: 15px;
    border-radius: 50px;
    font-size: 14px;
    width: 150px;
    box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
    background-image: linear-gradient(to left, #2e8446, #006400);
    font-size: 14px;
    color: #fff;
    transition: all 0.4s ease-in-out;
    border: 1px solid transparent;
  }

/*  */
.cardContainer1{
    min-height: 600px;        
    min-width: 260px;
    text-align: center;
    padding: 30px 20px;
    border: 1px solid #f0f4f6;
    margin:40px 20px;
}
.cardContainer1:hover{
    background-color:#b1d0aac4 ;
    border: 1.5px solid green;
    filter: drop-shadow(6px 6px 6px #b1d0aac4);
}
.cardContainer1:hover p{
    color: black;
}
.cardContainer1:hover h4{
    font-size: 21px;
}
.cardContainer1 span{
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    background-color: #f0f4f6;
    display: inline-block;
    line-height: 80px;
    transition: 0.6s;

}
.cardContainer1 span i{
    color: #0c2e60;
    font-size: 24px;
    transition: 0.6s;
	line-height: 1;
}
/* .cardContainer1 span i:before {
    content: "\e62f";
} */
.cardContainer1 h4{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px; 
    color: #2e8446;
}
.cardContainer1 p{
    color: #7f7f7f;
    line-height: 1.5;

}
.aboutus-box{
    padding-top: 55px;
    padding-right: 30px;
}
@media  only screen and (max-width:1200px){
       
    .aboutServices{
        flex-wrap: wrap;
        width: 1200;

    }}
    .aboutus-box{
        width: 600px;
    }
    .cardContainer1{
       width: 100px;
    }
    
 @media  only screen and (max-width:900px){
    .aboutKeyPoints{
        width: 95%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }    
    .aboutServices{
        flex-direction: column;
        align-items: center;
    }
    .cardContainer1{
        min-height: none;
        min-width: none;
    }
 }