.contact-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  
  .contact-info {
    width: 100%; /* Adjust this value to control the width of the contact information */
  }
  
  .contact-img {
    transform: translateX(-200px) ;
    width: 70%; /* Adjust this value to control the width of the image */
    margin-top: 2rem; /* Adjust the margin as needed */
  }
  
  .contact-img img {
    width: 100%;
  }
  .form form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputs{
    width: 100%;
}
.label2{
    width: 100%;
    padding-inline: 12%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
}

.btnForm{
    margin-inline:auto;
    margin-block: 40px;
    
}
  @media only screen and (max-width: 1000px) {
    .contact-area,
    .contact-img {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-info,
    .contact-img {
      width: 80%; /* Adjust the width as needed */
      transform: translateX(0px) ;
      display: none;
    }
  
    .contact-img img {
      width: 100%;
    }
  }
  