body {
    font-family: 'Poppins', sans-serif;
  }
.HomeContainerDownload{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landingPageCover{
    width: 100vw;
}
.landingPageCover__animation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
    width: 100%;
    height: auto;
  }
  
.App-Btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-inline: 5px;
    gap: 10px;
    background: #ffffff;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 4px #d2d2d2);
}
.App-Btn img{
    width: 30px;
}

.bannerDownload{
    margin-top: 8rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.bannerTextDownload{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.bannerTextDownload h1{
    color: #236836;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 16px;
 font-family: "Poppins",sans-serif;
}
.bannerTextDownload p{
    font-weight: lighter;
    /* color: #236836; */
    font-size: 20px;
}

.bannerImgDownload{
    width: 65%;
}
.imgPart1{
    width: 50%;
}
.imgPart1 img{
    width: 100%;
    height: 100%;
}
.imgInfoPart2{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part2Count{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.registerDownload{
    width: 60%;
}
.service-title{
    margin-inline: auto;
    width: 80%;
    align-items: flex-start;
}

.service-body{
    width: 50%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: "500";
    text-align: justify;
    color: black;
}
.cardContainer1{
    min-height: 600px;        
   width: 350px;
    text-align: center;
    padding: 30px 20px;
    border: 1px solid #f0f4f6;
    margin-inline:20px;
    margin-block: 40px;
}
.cardContainer1 ul {
    list-style-type: none;

}
@media (max-width: 1000px) {
    .service-body  {
        width: 80%;
    }
    .serviceSubHeading1{
        min-width: 350px;
    }
    .bannerDownload{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .smartHeadline{
        text-align: center;
    }
    .bannerTextDownload h1{
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 50px;
        width: 100%;
    }
    .bannerTextDownload{
        width: 60%;
        justify-content: center;
        align-items: center;
    }
    .bannerTextDownload p{
        text-align: center;
    }
    .bannerImgDownload{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgPart1{
        width: 50%;
        margin-bottom: 2rem;
    }
    .imgInfoPart2{
        width: 50%;
        text-align: center;
        /* padding: 20px; */
    }
    .part2Count{
        justify-content: space-around;
    }
    .registerDownload{
        width: 80%;
    }
}

@media (max-width: 900px) {
    .bannerTextDownload{
        width: 90%;
    }
    .imgPart1{
        width: 70%;
        height: 70vh;
    }
    .imgInfoPart2{
        width: 100%;
        padding: 30px;
    }
    .registerDownload{
        width: 100%;
    }
    .registerDownload h3{
       font-size: 2rem;
    }
}

@media (max-width: 440px) {
    .HomeContainerDownload{
        background-image: none;
    }
    .bannerDownload{
        width: 90%;
    }
    .bannerDownloadText h1{
        font-size: 2rem;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
}