/* animations */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  position: absolute;
  background-color: transparent;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#effect {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-shadow: 0px 0px 16px 2px #c8eccb;
}

.animate_curtain {
    animation: curtain 2s ease;
}

@keyframes curtain {
    0% {
 animation-timing-function: ease-out;
        width: 770px;
    }
    10% {
animation-timing-function: ease-out;
        width: 670px;
    }
    20% {
animation-timing-function: ease-out;
        width: 570px;
    }
    30% {
animation-timing-function: ease-out;
        width: 470px;
    }
    40% {
animation-timing-function: ease-out;
        width: 370px;
    }
    50% {
animation-timing-function: ease-out;
        width: 270px;
    }
    60% {
animation-timing-function: ease-out;
        width: 200px;
    }
    70% {
animation-timing-function: ease-out;
        width: 150px;
    }
    80% {
animation-timing-function: ease-out;
        width: 100px;
    }
    90% {
animation-timing-function: ease-out;
        width: 50px;
    }
    100% {
      animation-timing-function: ease-out;  
        width: 0;
    }
}

#curtain1 {
  top: 0px;
  position: absolute;
  left: 0px;
  height: 100vh;
}
#curtain2 {
  top: 0px;
  position: absolute;
  height: 100vh;
  right: 0px;
}

#curtain_buttons {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#curtain_buttons input[type="button"] {
  margin-top: 120px;
  width: 150px;
  height: 45px;
  border-radius: 2px;
  color: white;
  background-color: #0061bc;
  border: none;
}
@media only screen and (min-width : 825px){
    #curtain_buttons{
        display: none;
    }
}


.HomeContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingPageCover {
  width: 100vw;
}
.landingPageCover__animation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
  width: 100%;
  height: auto;
}

.banner {
  margin-top: 6rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.bannerText {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.bannerText h1 {
  color: #236836;
  font-size: 2.10rem;
  line-height: 70px;
  margin-bottom: 16px;
  /* font-weight: 600; */
}
.bannerText p {
  font-weight: lighter;
  /* color: #236836; */
  font-size: 20px;
}
.homeButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.homeButtons button {
  padding: 15px;
  border-radius: 50px;
  font-size: 14px;
  width: 150px;
  text-transform: capitalize;
}
.btn1 {
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
  background-image: linear-gradient(to left, #2e8446, #006400);
  font-size: 14px;
  color: #fff;
  transition: all 0.4s ease-in-out;
  margin-right: 40px;
  background-size: 200% auto;
  border: 1px solid transparent;
}
.btn2 {
  font-size: 14px;
}
.btn2:hover {
  color: #fff;
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
  background-image: linear-gradient(to left, #2e8446, #006400);
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
}
.bannerImg {
  width: 45%;
}
.bannerImg img {
  width: 100%;
  height: 100%;
}
/*  */
.homeServices {
  margin-top: 3rem;
}
/*  */
.homeAbout {
  display: flex;
  width: 80%;
  margin: 3rem auto;
}
.countBox {
  background-color: #e0f1e5;
  border-radius: 20px;
  padding: 10px;
  width: 60%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutImg {
  background-image: url("../assets/learning_img_bg.png");
  background-repeat: no-repeat;
  width: 49%;
}
.aboutImg img {
  width: 100%;
  margin-left: 4%;
}
.aboutSub {
  display: flex;
}
.aboutInfo {
  width: 35%;
  margin: 40px 60px;
}
.about-Sub {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_ {
  height: 2px;
  width: 70px;
  margin-top: 7px;
  background-color: red;
}
.aboutInfo h1 {
  color: #236836;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 15px;
}
.aboutKeyPoints {
  text-align: justify;
  margin-top: 30px;
}
.aboutKeyPoints p {
  display: flex;
  margin: 4px 0;
  justify-content: start;
  align-items: center;
  color: grey;
}
.aboutKeyPoints span {
  margin-right: 20px;
}
.homeAboutButton button {
  margin-top: 30px;
  padding: 15px;
  border-radius: 50px;
  font-size: 14px;
  width: 150px;
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
  background-image: linear-gradient(to left, #2e8446, #006400);
  font-size: 14px;
  color: #fff;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
}
/*  */
.homeFeature {
  display: flex;
  width: 95%;
  margin: 5rem auto !important;
}
.featureImg {
  background-image: url("../assets/advance_feature_bg.png");
  background-repeat: no-repeat;
  width: 50%;
}
.feautreInfo {
  width: 50%;
  padding: 40px;
}
.homeFeature h1 {
  color: #236836;
  font-size: 3rem;
  font-weight: 900;
  width: 80%;
  margin-top: 15px;
}
#featureText {
  width: 85%;
  text-align: justify;
  margin-top: 30px;
  color: grey;
}
.features {
  margin-top: 50px;
  display: flex;
}
.featureIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fccbd3;
}
.feature1 {
  width: 40%;
  margin-right: 40px;
}
.feature1 h2 {
  color: #236836;
}
.feature1 p {
  color: grey;
  margin-top: 20px;
  line-height: 1.5;
  text-align: justify;
}
.feature2 {
  width: 40%;
}
.feature2 h2 {
  color: #236836;
}
.feature2 p {
  color: grey;
  margin-top: 20px;
  line-height: 1.5;
  text-align: justify;
}
@media (max-width: 1220px) {
  .countBox {
    width: 70%;
  }
  .aboutImg {
    width: 50%;
  }
  .aboutImg img {
    width: 100%;
    margin-top: 70px;
  }
  .aboutInfo {
    width: 35%;
    margin: 40px 0px 0px 58px;
  }
  .aboutInfo h1 {
    font-size: 2rem;
  }
  .homeFeature h1 {
    font-size: 2rem;
  }
  .homeAboutButton button {
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  .banner {
    flex-direction: column-reverse;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .bannerImg {
    width: 100%;
  }
  .bannerText {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .bannerText h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
  }
  .bannerText p {
    text-align: center;
  }
  .countBox {
    width: 80%;
  }
  .homeButtons button {
    width: 130px;
    padding: 10px;
  }
  .btn1 {
    margin-right: 20px;
  }
  .featureImg {
    width: 45%;
  }
  .featureImg img {
    width: 100%;
    height: 100%;
  }
  .feautreInfo {
    width: 55%;
    padding: 20px;
  }
}

@media (max-width: 800px) {
  .homeAbout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutImg {
    width: 80%;
  }
  .aboutInfo {
    width: 80%;
    margin-top: 80px;
  }
  .homeFeature {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .featureImg {
    width: 80%;
  }
  .feautreInfo {
    width: 80%;
    margin-top: 80px;
  }
  .countBox {
    width: 85%;
    flex-direction: column;
    margin-bottom: 0;
  }
}

@media (max-width: 440px) {
  .HomeContainer {
    background-image: none;
  }
  .banner {
    width: 90%;
  }
  .bannerText h1 {
    font-size: 2rem;
  }
  .btn1 {
    font-size: 12px;
  }
  .aboutInfo {
    margin-left: 10px;
  }
  .feautreInfo {
    width: 90%;
    margin-top: 40px;
  }
  .features {
    flex-direction: column;
  }
  .feature1 {
    width: 90%;
    margin-bottom: 50px;
  }
  .feature2 {
    width: 90%;
    margin-bottom: 30px;
  }
}
