body {
  font-family: 'Poppins', sans-serif;
}
.HomeContainer {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingPageCover {
  width: 100vw;
}
.landingPageCover__animation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
  width: 100%;
  height: auto;
}

.banner {
  margin-top: 6rem;
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
.bannerText {
  display: flex;
  width: 48%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.bannerText h3 {
  color: #046A3A;
  font-size: 32px;
  font-weight: 600;
  /* line-height: 70px; */
  margin-bottom: 16px;
  /* font-weight: 600; */
}
.bannerText p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  width: 80%;
}
.homeButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.homeButtonsHome {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 30px;
}
.homeButtonsHome button {
  padding: 15px;
  /* border-radius: 50px; */
  font-size: 14px;
  width: auto;
  text-transform: capitalize;
}
.homeButtons button {
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  width: 150px;
  text-transform: capitalize;
}
.btn1 {
  box-shadow: 0px 12px 20px 0px rgba(0, 21, 7, 0);
  background-image: linear-gradient(to left, #2e8446, #006400);
  font-size: 14px;
  color: #fff;
  transition: all 0.4s ease-in-out;
  margin-right: 40px;
  background-size: 200% auto;
  border: 1px solid transparent;
}
.btn2 {
  font-size: 14px;
  background-color: white;
}
.btn2:hover {
  color: #fff;
  box-shadow: 0px 12px 20px 0px rgba(0, 10, 7, 0);
  background-image: linear-gradient(to left, #2e8446, #006400);
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
}
.bannerImg {
  width: 45%;
}
.bannerImg img {
  width: 100%;
  height: 100%;
}
/*  */
.homeServices {
  margin-top: 3rem;
  margin-inline:auto;
}
/*  */
.homeAbout {
  display: flex;
  width: 90%;
  margin: 3rem auto;
  align-items: center;
}
.homeAbout2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 80%;
  margin: 7rem auto;
  align-items: center;
}
.countBox2 {
  background-color: #e0f1e5;
  border-radius: 20px;
  padding: 10px;
  width: 60%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.count2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.countBox {
  background-color: #e0f1e5;
  border-radius: 20px;
  padding: 10px;
  width: 70%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  scroll-behavior: smooth;
  transition: transform 0.5s;
}
.count {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center; 
  gap: 30px;
  max-width: 80%;
  mix-blend-mode: multiply;
}
.count img{
  width: 24%;
}
.aboutImg {
 
  width: 49%;
}
.aboutImg img {
  width: 100%;
  margin-left: 4%;
}
.aboutSub {
  display: flex;
}
.aboutInfo {
  width: 35%;
  margin: 40px auto;
}
.aboutInfo2 {
  width: 50%;
  margin: 40px 40px;
}
.about-Sub {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_ {
  height: 2px;
  width: 70px;
  margin-top: 7px;
  background-color: red;
}
.aboutInfo h3 {
  color: #046A3A;
  font-size: 32px;
  font-weight: 900;
  line-height: 50px;
  margin-top: 15px;
  font-family: 'Poppins',sans-serif;
}
.aboutInfo2 h3 {
  color: #046A3A;
  font-size: 32px;
  font-weight: 900;
  line-height: 50px;
  margin-top: 15px;
  font-family: 'Poppins',sans-serif;
}
.aboutKeyPoints {
  text-align: justify;
  margin-top: 30px;
  width: 100%;
}
.aboutKeyPoints p {
  display: flex;
  margin: 4px 0;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.aboutKeyPoints span {
  margin-right: 20px;
}
.homeAboutButton button {
  margin-top: 30px;
  padding: 15px;
  border-radius: 50px;
  font-size: 14px;
  width: 150px;
 
  background-image: linear-gradient(to left, #2e8446, #006400);
  font-size: 14px;
  color: #fff;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
}
.homeAboutButton button:hover{
  box-shadow: 0px 4px 4px 0px rgba(14, 3, 1, 0.235);
}
.homeAboutfeatures{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  justify-content: space-around;
  margin: 2rem 0;
}
.homeAboutfeatures .feature{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.homeAboutfeatures .feature h3{
  color: #046A3A;
  margin: none;
  font-weight: 600;
}
.homeAboutfeatures .feature p{
  color: black;
  font-size: 18px;
  font-weight: 500;
  
}
/*  */
.homeFeature {
  display: flex;
  width: 95%;
  margin: 5rem auto !important;
}
.featureImg {
  background-image: url("../assets/advance_feature_bg.png");
  background-repeat: no-repeat;
  width: 50%;
}
.feautreInfo {
  width: 50%;
  padding: 40px;
}
.homeFeature h1 {
  color: #046A3A;
  font-size: 3rem;
  font-weight: 900;
  width: 80%;
  margin-top: 15px;
}
#featureText {
  width: 85%;
  text-align: justify;
  margin-top: 30px;
  color: grey;
}
.features {
  margin-top: 50px;
  display: flex;
}

.featurebottom {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.featureIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fccbd3;
}
.feature-icon img{
  width: 50px;
}
.feature1 {
  width: 40%;
  margin-right: 40px;
}
.feature1 h2 {
  color: #236836;
}
.feature1 p {
  color: grey;
  margin-top: 20px;
  line-height: 1.5;
  text-align: justify;
}
.feature2 {
  width: 40%;
}
.feature2 h2 {
  color: #236836;
}
.feature2 p {
  color: grey;
  margin-top: 20px;
  line-height: 1.5;
  text-align: justify;
}
@media (max-width: 1220px) {
  .countBox2 {
    width: 70%;
  }
  .aboutImg {
    width: 50%;
  }
  .aboutImg img {
    width: 100%;
    margin-top: 70px;
  }
  .aboutInfo {
    width: 35%;
    margin: 40px 0px 0px 58px;
  }
  .aboutInfo h1 {
    font-size: 2rem;
  }
  .homeFeature h1 {
    font-size: 2rem;
  }
  .homeAboutButton button {
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  .banner {
    flex-direction: column-reverse;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .bannerImg {
    width: 100%;
  }
  .bannerText {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .bannerText h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
  }
  .bannerText p {
    text-align: center;
  }
  .countBox2 {
    width: 80%;
  }
  .homeButtons button {
    width: 130px;
    padding: 10px;
  }
  .btn1 {
    margin-right: 20px;
  }
  .featureImg {
    width: 45%;
  }
  .featureImg img {
    width: 100%;
    height: 100%;
  }
  .feautreInfo {
    width: 55%;
    padding: 20px;
  }
  .count{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-inline:10px;
  }
  .count img{
    min-width: 60%;
  }
}

@media (max-width: 800px) {
  .homeAbout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .homeAbout2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutImg {
    width: 80%;
  }
  .aboutInfo {
    width: 80%;
    margin-top: 80px;
  }
  .homeFeature {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .featureImg {
    width: 80%;
  }
  .feautreInfo {
    width: 80%;
    margin-top: 80px;
  }
  .countBox2 {
    width: 85%;
    flex-direction: column;
    margin-bottom: 0;
  }
}

@media (max-width: 440px) {
  .HomeContainer {
    background-image: none;
  }
  .banner {
    width: 90%;
  }
  .bannerText h1 {
    font-size: 2rem;
  }
  .btn1 {
    font-size: 12px;
  }
  .aboutInfo {
    margin-left: 10px;
  }
  .feautreInfo {
    width: 90%;
    margin-top: 40px;
  }
  .features {
    flex-direction: column;
  }
  .feature1 {
    width: 90%;
    margin-bottom: 50px;
  }
  .feature2 {
    width: 90%;
    margin-bottom: 30px;
  }
  .homeAboutfeatures{
    flex-direction: column;
    justify-content: space-between!important;
    
  }
  .homeServices{
    margin-inline: none;
    /* width: 90%; */
  }
  .cardContainer1{
    width: 90%;
  }
  .bannerText p {
    width: 100%;
  }
  .homeAbout2 {
    width: 100%;
    margin-bottom: none;

  }
  .aboutInfo2 {
    margin: none;
    width: 70%;

  }
}
