
.contact{
    margin-top: 7rem;
    width: 98vw;
}
.contactForm{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.ContactStack{ 
    width: 80%;
}
.form{
    width: 60%;
}
.form h1{
    color : green;
}
.information{
    width: 40%;
    margin-top: 8rem;
}
.contact-info{
    padding-left: 50px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 20px 0;
}
.contact-info span{
    width: 40px;
    cursor: pointer;
    height: 40px;
}
.media-body h3{
    font-size: 18px;
    color: #2a2a2a; 
    line-height: 1.2em;
}
.media-body a{
    text-decoration: none;
    list-style: none;
}
.media-body p{
    color: #8a8a8a;
    line-height: 1.929;
    font-size: 17px;
    margin-bottom: 0px;
}

@media only screen and (max-width:1000px){
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .contactForm{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .information{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        border-top: 4px solid gray;
        width: 100%;
        flex-wrap: wrap;
    }
    .contact-info{
        margin-top: 2rem;
        width: 300px;
        padding:10px;
       justify-content: center;
       text-align: left;
       border: 2px double green;
    }
}