.servicePage{
    /* width: 80%; */
    margin: 0 auto;
}
.serviceSubHeading{
    font-size: 18px;
    width: 80%;
    /* margin: 20px auto; */
    text-align: justify;
}


.ServiceContainer{
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}
.service-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 78%;
    margin-inline: auto;
}
.cardContainer{
    max-width: 320px;
    text-align: center;
    padding: 30px 20px;
    margin: 40px 0px;
    border-radius: 15px;
    border: 1px solid green;
}
.cardContainer:hover{
    background-color:#2e844620 ;
    border: 1.5px solid green;
    filter: drop-shadow(0px 12px 16px #2e8446);
}
.cardContainer span{
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    background-color: #f0f4f6;
    display: inline-block;
    line-height: 80px;
    transition: 0.6s;

}
.cardContainer span i{
    color: #0c2e60;
    font-size: 24px;
    transition: 0.6s;
	line-height: 1;
}

.cardContainer h4{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px; 
    color: #2e8446;
}
.cardContainer p{
    color:black;
    line-height: 1.5;
    font-size: 15px;
}
.cardContainer:hover p{
    color: black;
}
.cardContainer:hover h4{
    font-size: 22px;
}
.cardContainer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

@media only screen and (max-width:1024px) {
    .servicePage{
        width: 90%;
    }
    /* .serviceSubHeading{
        width: 75%;
    } */
}
/* @media only screen and (max-width:850px) {
    .serviceSubHeading{
        width: 85%;
    }
} */
@media only screen and (max-width:510px) {
    .servicePage{
        width: 95%;
    }
    .serviceSubHeading{
        width: 100%;
        margin-bottom: 30px; ;
    }
    .service-box{
        flex-direction: column;
    }
}