.main-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  height: 100%;
}
.container {
  width: 60%;
  background-color: white;
  height: auto;
  padding: 2rem 0;
  border-radius: 1.5rem;
}
.heading {
  text-align: center;
}
.container-content {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  line-height: 1rem;
}
.container-content h3 {
  margin-top: 1rem;
}
.container-content p {
  margin-top: 0.4rem;
  line-height: 1.5rem;
}
