.videoContainer{
    width: 98vw;
    margin-top: 7rem;
}
.video{
    width: 60%;
    height: auto;
    margin: 0 auto;
}
.video iframe{
    width: 100%;
}
.aboutServices{
    margin-top: 7rem;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.aboutServices1{
    max-width: 250px;
}
.aboutServices1 h1{
    font-size: 32px;
    color: #2e8446;
}
.aboutServices1 p{
    line-height: 1.5;
    color: grey;
    margin-top: 20px;
}



/*  */
.cardContainer1{
    max-width: 200px;
    text-align: center;
    padding: 30px 20px;
    border: 1px solid #f0f4f6;
}
.cardContainer1:hover{
    border: 1px solid #ffc107;;
}
.cardContainer1 span{
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    background-color: #f0f4f6;
    display: inline-block;
    line-height: 80px;
    transition: 0.6s;

}
.cardContainer1 span i{
    color: #0c2e60;
    font-size: 24px;
    transition: 0.6s;
	line-height: 1;
}
.cardContainer1 span i:before {
    content: "\e62f";
}
.cardContainer1 h4{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px; 
    color: #2e8446;
}
.cardContainer1 p{
    color: #7f7f7f;
    line-height: 1.5;

}
