@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;padding: 0;
  font-family: 'Poppins', sans-serif;
}

.subHeading{
  margin-bottom: 20px;
  color:#2e8446;
  text-transform: capitalize;
}
.input{
  border: 1px solid gray;
  height: 40px;
  border-radius: 5px;    
  margin: 10px 30px 30px 0;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  width: 45%;
}
.input:focus{
  outline: none;
}
textarea:focus{
  outline: none;
}
.fullInput{
  border: 1px solid gray;
  height: 40px;
  border-radius: 5px;    
  margin: 10px 30px 30px 0;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  width:95% ;
}
.fullInput:focus{
  outline: none;
}
.select{
  width: 47%;
  font-size: 13px;
  height: 50px;
}
.select option{
  font-size: 13px;
  margin-top: 8px ;
}
.submitButton{
  border-radius: 20px;
  margin-bottom: 3rem;
  margin-right: 2rem;
  font-size: 14px;
  padding: 15px;
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
    background-image: linear-gradient(to left, #2e8446, #006400);
    font-size: 14px;
    color: #fff;
    transition: all .4s ease-in-out;
    background-size: 200% auto;
    border: 1px solid transparent;
}
@media only screen and (max-width:1390px){
  .input{
    width: 40%;
  }
  .fullInput{
    width: 86%;
  }
  .select{
    width: 43%;
  }
}
@media only screen and (max-width:1210px){
  .select{
    width: 43%;
  }
}
@media only screen and (max-width:700px){
  .input{
    width: 80%;
  }
  .fullInput{
    width: 80%;
  }
  .select{
    width: 85%;
  }
}
@media only screen and (max-width:430px){
  .select{
    width: 90%;
  }
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background-color: #046a3a5f;
  
} 
::-webkit-scrollbar-thumb {
  background-color: #2E8446;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #239945;
}