name: Build and Deploy MERN Stack Webapp

on:
  push:
    branches:
      - stage
  workflow_dispatch:

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Clean build directory
        run: |
          rm -rf frontend/build

      - name: Install dependencies in frontend
        run: cd frontend && npm install

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Build frontend
        run: |
          cd frontend && npm run build

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v3
        with:
          name: frontend-build
          path: frontend/build

  build-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Install backend dependencies
        run: |
          npm install

      - name: Upload backend artifact
        uses: actions/upload-artifact@v3
        with:
          name: backend-build
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: [build-frontend, build-backend]
    environment:
      name: 'udyamwell-staging'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download frontend artifact
        uses: actions/download-artifact@v3
        with:
          name: frontend-build-artifacts

      - name: Download backend artifact
        uses: actions/download-artifact@v3
        with:
          name: backend-build-artifacts

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'udyamwell'
          slot-name: 'udyamwell-staging'
          # Update paths based on your build structure
          package: 'frontend-build/*'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_BCF900FDC023445BA307F22B8CE75D7F }}